/* any imports */
@import url(lib/coffee.css);

/* FONTS */
@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/opensans_bold.ttf');
}
@font-face {
    font-family: 'open_sans_bold_italic';
    src: url('../fonts/opensans_bold_italic.ttf');
}
@font-face {
    font-family: 'open_sans_light';
    src: url('../fonts/opensans_light.ttf');
}
@font-face {
    font-family: 'open_sans_light_italic';
    src: url('../fonts/opensans_light_italic.ttf');
}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans_regular.ttf');
}
@font-face {
    font-family: 'open_sans_italic';
    src: url('../fonts/opensans_italic.ttf');
}

/* UNIVERSAL SELECTORS */
body{
    margin: 0px;
    background-color: rgb(48, 59, 77);
}

/* CLASS SELECTORS */

/* Styling for the toolbar */
div.nav_toolbar{
    background-color: rgb(62, 128, 172);
    padding: 2%;
}
div.nav_toolbar nav{
    font-family: 'open_sans_bold';
    color: white;
    font-size: 30px;
}

div.nav_toolbar a{
    text-decoration: none;
    color: white;
}
div.nav_toolbar a:hover{
    text-decoration: underline;
    color: white;
}

/* Styling for the main container */
div.main_container{
    padding: 2%;
    margin-top: 1%;
    background-color: rgb(44, 133, 206);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.main_container div.main_container_heading{
    background-color: rgb(89, 180, 255);
    padding: 2%;
    border: 7px outset rgb(146, 206, 255);
}

div.main_container div.main_container_heading h1{
    font-family: 'open_sans';
    color: white;
    font-size: 60px;
}