/* FONTS */
@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/opensans_bold.ttf');
}
@font-face {
    font-family: 'open_sans_bold_italic';
    src: url('../fonts/opensans_bold_italic.ttf');
}
@font-face {
    font-family: 'open_sans_light';
    src: url('../fonts/opensans_light.ttf');
}
@font-face {
    font-family: 'open_sans_light_italic';
    src: url('../fonts/opensans_light_italic.ttf');
}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans_regular.ttf');
}
@font-face {
    font-family: 'open_sans_italic';
    src: url('../fonts/opensans_italic.ttf');
}

/* UNIVERSAL SELECTORS */
body{
    margin: 0px;
    background-color: rgb(48, 59, 77);
}

/* CLASS SELECTORS */

/* Styling for the toolbar */
div.nav_toolbar{
    background-color: rgb(62, 128, 172);
    padding: 2%;
}
div.nav_toolbar nav{
    font-family: 'open_sans_bold';
    color: white;
    font-size: 30px;
}

div.nav_toolbar a{
    text-decoration: none;
    color: white;
}
div.nav_toolbar a:hover{
    text-decoration: underline;
    color: white;
}

/* Styling for the header */
div.header{
    background-color: rgb(140, 209, 255);
    padding: 2%;
    margin-top: 1%;
    border: 10px outset rgb(140, 209, 255);
}

div.header h1{
    font-family: 'open_sans_light_italic';
    text-decoration: underline;
    font-size: 45px;
    margin: 0px;
}

/* Styling for the main body */
div.main_body_container{
    background-color: rgb(98, 192, 255);
    padding: 2%;
}

div.main_body_container label{
    font-family: 'open_sans_light';
    font-size: 30px;
    margin-top: 1%;
}

div.main_body_container input[list="category_list"]{
    background-color: rgb(173, 222, 255);
    box-sizing: border-box;
    border: 5px inset rgb(98, 192, 255);
    font-family: 'open_sans';
    font-size: 20px;
}

div.main_body_container input[list="state_list"]{
    background-color: rgb(173, 222, 255);
    box-sizing: border-box;
    border: 5px inset rgb(98, 192, 255);
    font-family: 'open_sans';
    font-size: 20px;
}

div.main_body_container textarea{
    background-color: rgb(173, 222, 255);
    font-family: 'open_sans_light';
    font-size: 20px; 
}

div.main_body_container input[type="date"]{
    background-color: rgb(173, 222, 255);
    box-sizing: border-box;
    border: 5px inset rgb(98, 192, 255);
    font-family: 'open_sans';
    font-size: 20px;
}

div.main_body_container input[type="text"]{
    background-color: rgb(173, 222, 255);
    box-sizing: border-box;
    border: 5px inset rgb(98, 192, 255);
    font-family: 'open_sans';
    font-size: 20px;
}

div.main_body_container input[type="submit"]{
    background-color: rgb(107, 163, 201);
    box-sizing: border-box;
    border: 5px outset rgb(98, 192, 255);
    font-family: 'open_sans';
    font-size: 30px;
    color: white;
    padding: 1%;
    margin-top: 1%;
}