@import "fonts.css";

/* Styling for the outer body*/
div.outer{
    background-color: rgb(77, 175, 255);
    margin: 0px;
    padding: 1%;
}

div.outer h1{
    font-family: 'open_sans_bold';
    text-decoration: underline;
}

/*Styling for the about bloc*/
div.aboutBloc{
    background-color: rgb(147, 206, 255);
    margin: 0px;
    padding: 1%;
    border: 5px outset rgb(147, 206, 255);
}

div.aboutBloc h1{
    font-family: 'open_sans';
    font-size: 30px;
}

div.aboutBloc p{
    font-family: 'open_sans_light';
    font-size: 25px;
}