@import 'fonts.css';

/*Styling the login page*/
/*styling main container*/
div.login_container{
    background-color: rgb(77, 175, 255);
    margin: 0px;
    padding: 1%;
}

div.login_container h1{
    font-family: 'open_sans_bold';
    text-decoration: underline;
}

/*Styling the form*/
div.login_container form label{
    font-family: 'open_sans';
    font-size: 20px;
}

div.login_container form input{
    font-family: 'open_sans_light';
    font-size: 20px;
    box-sizing: content-box;
    margin-bottom: 1%;
}

div.login_container form button{
    font-family: 'open_sans';
    font-size: 25px;
    box-sizing: border-box;
    border: 5px outset rgb(160, 212, 255);
    background-color: rgb(160, 212, 255);
}