.userId h1 {
  text-align: center;
}

.userId form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.userId p {
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.createTicket {
  margin: 2rem auto;
  display: flex;
}
